<div class="conatiner card alert alert-secondary" >
    <div class="row">
        <div class="col p-1">
            <h5>Recall the order</h5>
            <p *ngFor="let hook of lifeCyclehooksList">
                <b *ngIf="activeHook === hook.hookName.replace('()', '')" style="font-size: larger;">
                    🟢 {{hook.hookName}} → {{hook.content}}
                </b>
                <span *ngIf="activeHook !== hook.hookName.replace('()', '')" style="font-size: smaller;">
                    ⚪ {{hook.hookName}} → {{hook.content}}
                </span>
            </p>
        </div>
    </div>
</div>