<div class="container mt-3">
    <p routerLink="/">
        <a class="pe-auto text-secondary text-decoration-none">&lt;-Back </a>
    </p>
    <h4>Routing</h4>
    <p>Routing is not just navigation anymore:</p>
    <b>Route = Navigation + Security + Data + Control + UX</b> <br>
    <button class="btn btn-sm btn-success" routerLink="/route-controls">Routing Controls</button> <br>
</div>
<div class="card mt-2 container alert alert-secondary">
    <h5>1. Navigation from HTML (Template)</h5>
    <p>🔹 routerLink (MOST USED) <br><b> &lt; a routerLink="/home">Go to Home &lt;/a>
            👉 Click → navigates to /home</b></p>
    <p>🔹 Dynamic route: <br>
        <b>&lt;a [routerLink]="['/user', userId]">User &lt;/a>
            👉 If userId = 5 → /user/5 </b>
    </p>
    <p>🔹 Query params: <br>
        <b>&lt;a [routerLink]="['/search']" [queryParams]="&#123; q: 'angular' &#125;">
            Search
            &lt;/a>👉 URL:
            /search?q=angular</b>
    </p>
    <p>
        🔹 Active link highlight: <br>
        <b>&lt;a routerLink="/home" routerLinkActive="active">Home&lt;/a>

            👉 Adds class when active</b>
    </p>
</div>
<div class="card container mt-2 alert alert-warning">
    <h5>2. Navigation from TypeScript (Programmatic)</h5>
    <p>✅ Import Router <br>
        <b>import &#123; Router &#125; from '@angular/router';<br>
            constructor(private router: Router) &#123;&#125;</b>
    </p>
    <p>🔹 Method 1: navigate() <br>
        <b>this.router.navigate(['/home']);</b>
    </p>
    <p>🔹 With params: <br>
        <b>this.router.navigate(['/user', 10]);
            👉 /user/10</b>
    </p>
    <p>🔹 With query params: <br>
        <b>
            this.router.navigate(['/search'], &#123;
            queryParams: &#123; q: 'angular' &#125;
            &#125;);</b>
    </p>
    <p>
        🔹 Relative navigation: <br>
        <b>this.router.navigate(['details'], &#123; relativeTo: this.route &#125;); </b>
    </p>
    <pre class="alert alert-light">
Normally when you do:
this.router.navigate(['/details']);

👉 Angular treats it as absolute path
👉 It always starts from root (/)

✅ Relative Navigation means:
“Navigate based on the current route”

Current URL: <b>/forms</b>

Now you write:
this.router.navigate(['reactive'], &#123; relativeTo: this.route &#125;);

👉 Result: <b>/forms/reactive</b>
relativeTo → current route-ஐ base ஆக்கி navigate பண்ணு
    </pre>
    <p>
        🔹 Replace URL (no back history): <br>
        <b>this.router.navigate(['/login'], &#123; replaceUrl: true &#125;);</b>
    </p>
    <pre class="alert alert-light">
Normally:
this.router.navigate(['/home']);

👉 Browser history: /login → /home
👉 If user clicks BACK: /home → /login ❌

<b>✅ With replaceUrl</b>
this.router.navigate(['/home'], &#123; replaceUrl: true &#125;);

👉 It replaces current URL in history
/login → replaced by /home

👉 Now BACK button:
/home → (no login page) ✅

<b>🔐 Login flow:</b>
loginSuccess() &#123;
  this.router.navigate(['/dashboard'], &#123; replaceUrl: true &#125;);
&#125;
<b>👉 Prevent user from going back to login page</b>
    </pre>
    <p>
        🔹 navigateByUrl() <br>
        <b>this.router.navigateByUrl('/home');
            👉 Simple string-based navigation</b>
    </p>
</div>
<div class="card container alert alert-success">
    <h5>Route Params + ActivatedRoute</h5>
    <div class="row">
        <div class="col">
            <pre>
🧠 What are Route Params?
👉 Definition: Dynamic values passed inside the URL

📌 Example URL: /user/10
👉 Here: 10 = route param
    </pre>
            <b>1. Define Route with Params</b>
            <code>
    <pre>
&#123;
    path: 'routing/:id',
    loadComponent: () =>
      import('./routing/routing-id/routing-id.component')
        .then(c => c.RoutingIdComponent)
&#125;
</pre>
</code>
            <pre>
🧠 Meaning:
:userId → dynamic value

👉 Can be:
/user/1
/user/25
/user/999
</pre>
        </div>
        <div class="col">
            <b>2. Get Params using ActivatedRoute</b>
            <pre>

Import:
   <b>import &#123; ActivatedRoute &#125; from '@angular/router';</b> 
Inject:
   <b>constructor(private route: ActivatedRoute) &#123;&#125;</b> 
</pre>
            <b>✅ Method 1: Snapshot (Simple)</b>
            <pre>

ngOnInit() &#123;
    const id = this.route.snapshot.paramMap.get('id');
    console.log(id);
&#125;
🧠 When to use:
Value won’t change
One-time read
            </pre>
            <b>✅ Method 2: Observable Way</b>
            <pre>

ngOnInit() &#123;
  this.route.paramMap.subscribe(params => &#123;
    const id = params.get('id');
    console.log(id);
  &#125;);
&#125;
            </pre>
        </div>
    </div>
    <div class="card alert alert-light">
        <h5>Routing with param (single) / (multiple) </h5>
        <form #routeForm="ngForm" (ngSubmit)="onSubmit(routeForm)">
            <div class="row">
                <div class="col-2"></div>
                <!-- INPUT -->
                <div class="col-2">
                    <label>Routing Id:</label>
                    <input type="number" class="form-control" name="id" [(ngModel)]="model.id" #id="ngModel" required
                        min="1" id />
                    <!-- ERROR -->
                    <span class="text-danger" *ngIf="id.invalid && (id.touched || routeForm.submitted)">
                        Valid ID is required
                    </span>
                </div>
                <div class="col-3">
                    <label>Routing Category (Optional):</label>
                    <select class="form-select" name="category" [(ngModel)]="model.category" #category="ngModel"
                        category aria-label="Default select example">
                        {{category}}
                        <option value="default">Default</option>
                        <option value="electronics">Electronics</option>
                        <option value="furniture">Furniture</option>
                        <option value="pluming">Pluming</option>
                    </select>
                </div>
                <!-- BUTTON -->
                <div class="col-2">
                    <button type="submit" class="  mt-2 btn btn-sm btn-primary">
                        Go
                    </button>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
    </div>
</div>
<div class="card container alert alert-secondary">
    <pre>
        {{tsCode}}
    </pre>
</div>