<div class="container mt-3">
    <p routerLink="/">
        <a class="pe-auto text-secondary text-decoration-none"><-Back </a>
    </p>
    <h4>Forms</h4>
    <p>Angular provides <b>3</b> approaches for forms — <b>template-driven</b> and <b>reactive</b> and <b>advanced
            reactive</b></p>
    <p><b>Template-driven forms</b> are easy and suitable for simple forms, but they become difficult to scale when the
        form
        grows.</p>
    <p><b>Reactive forms</b> are more structured, predictable, testable, and allow powerful validations.</p>
    <p>For real-world enterprise apps, <b>advanced reactive forms with custom/async validators and FormArray are
            used.</b></p>
    <div class="card alert alert-success">
        <b>There are 3 main types:</b>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th><button class="btn btn-sm btn-success" routerLink="template-driven">
                            Template-driven
                        </button></th>
                    <th><button class="btn btn-sm btn-success" routerLink="reactive">
                            Reactive
                        </button></th>
                    <th><button class="btn btn-sm btn-success" routerLink="advanced-reactive">
                            Advanced Reactive
                        </button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Difficulty</b>
                    </td>
                    <td>
                        Easy
                    </td>
                    <td>
                        Medium
                    </td>
                    <td>
                        Hard
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Code Location</b>
                    </td>
                    <td>Mostly HTML</td>
                    <td>Mostly TS</td>
                    <td>TS + services</td>
                </tr>
                <tr>
                    <td>
                        <b>Validations</b>
                    </td>
                    <td>Basic</td>
                    <td>Strong</td>
                    <td>Enterprise-level</td>
                </tr>
                <tr>
                    <td>
                        <b>Dynamic Forms</b>
                    </td>
                    <td> ❌ Poor</td>
                    <td>✔ Good</td>
                    <td>✔✔ Excellent</td>
                </tr>
                <tr>
                    <td>
                        <b>Testing</b>
                    </td>
                    <td> ❌ Hard</td>
                    <td> ✔ Easy</td>
                    <td> ✔ Easy</td>
                </tr>
                <tr>
                    <td>
                        <b>Performance</b>
                    </td>
                    <td> Medium</td>
                    <td> High</td>
                    <td> High</td>
                </tr>
                <tr>
                    <td>
                        <b>Use in Real Projects</b>
                    </td>
                    <td>Small apps</td>
                    <td>Medium & large apps</td>
                    <td>Enterprise apps</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>