<div class="container mb-2">
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-sm btn-primary" routerLink="lifecycle-hooks">
        Life Cycle Hooks
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="viewchild">
        &#64;ViewChild
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="input">
        &#64;Input
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="output">
        &#64;Output
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="service">
        Using Service
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="signal">
        Signal
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="change-detection">
        Change Detection
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="dependency-injection">
        Dependency Injection
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="pipe">
        Pipe
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="directives">
        Directives
      </button>&nbsp;
      <button class="btn btn-sm btn-primary" routerLink="forms">
        Forms
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-sm btn-info" routerLink="dynamic-rendering">
        Dynamic UI Rendering
      </button> &nbsp;
        <button class="btn btn-sm btn-info" routerLink="dynamic-rendering">
       Standalone Components
      </button>
    </div>
  </div>
</div>