<div class="container mt-3">
    <p routerLink="/">
        <a class="pe-auto text-secondary text-decoration-none"><-Back </a>
    </p>
    <h4>JSON Web Token (JWT)</h4>
    <p>A compact, URL-safe string that represents claims about a user, signed by the server so it can’t be tampered
        with. (மாற்ற முடியாதது)</p>
    <div class="container card alert alert-dark mb-2 mt-2">
        <p>JWT is not securing the frontend <br> JWT is:
            <b> A backend mechanism</b> to safely identify the caller and decide what they are allowed to access.
            Frontend just helps in transporting it.
        </p>
    </div>
    <h5>JWT Structure</h5>
    <div class="row">
        <div class="col">
            <p>A JWT always looks like: <br>
                <b>xxxxx.yyyyy.zzzzz</b>
            </p>
        </div>
        <div class="col">
            <p>Three Base64-encoded parts separated by dots: <br>
                <code>HEADER.PAYLOAD.SIGNATURE</code>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>▶ Header</b> <br>
                Metadata about the token: <br></p>
            <pre>
&#123;
  "alg": "HS256",
  "typ": "JWT"
&#125;
Means:
alg → signing algorithm
typ → token type
</pre>
        </div>
        <div class="col">
            <p><b>▶ Payload (Claims)</b><br>
                This contains the actual data:</p>
            <pre>
&#123;
  "sub": "12345",
  "email": "kesava&#64;example.com",
  "role": "USER",
  "iat": 1700000000,
  "exp": 1700003600
&#125;
                </pre>
        </div>
        <div class="col">
            <p><b>▶ Signature (the protection)</b> <br>Created like:</p>
            <pre>
HMACSHA256(
  base64(header) + "." + base64(payload),
  SECRET_KEY
)</pre>
            <p>Only the server knows <b>SECRET_KEY</b> <br>
                So if someone edits the payload: <b>"role": "ADMIN"</b> <br>
                → signature becomes invalid <br>
                → server rejects the token 💥
            </p>
        </div>
    </div>
    <div class="container card alert alert-info">
        <h5>How JWT Works on the Server?</h5>
        <div class="row">
            <div class="col">
                <p><b>Step 1 – User logs in</b></p>
                <pre>
POST /login
&#123; email, password  &#125;
                </pre>
            </div>
            <div class="col">
                <p><b>Step 2 – Server verifies credentials</b></p>
                <pre>
If OK:
* creates JWT
* signs it
* sends it back

&#123;
  accessToken: "eyJhbGciOi..."
&#125;
                </pre>
            </div>
            <div class="col">
                <p><b>Step 3 – Browser stores token</b></p>
                <pre>
Usually:
* HttpOnly cookie ✅ (best)
* OR memory
* OR localStorage (less secure)
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><b>Step 4 – Browser sends token on every API call</b></p>
                <pre>
 Authorization: Bearer eyJhbGciOi...
                </pre>
            </div>
            <div class="col">
                <p><b>Step 5 – Server middleware validates:</b></p>
                <pre>
* signature
* expiry
* issuer
* audience

If valid → continue
If not → 401 Unauthorized
                </pre>
            </div>
            <div class="col">
                <p><b>Step 6 – Refresh token:</b></p>
                <pre>
Now You have:
1️⃣ Login → get access token (2 min)
2️⃣ Store in localStorage
3️⃣ Interceptor sends it for protected APIs

All good for learning ✅
</pre><span>Now the problem: <br>
                    ⏱ After 2 minutes → token expires → user should NOT be forced to login again,<br> in real world
                    application once user loggged in , untill they manually logout the application, still we have to
                    keep their session in particular timing based on their activity since that is the secure application
                    means. <br>
                    <b>That’s where refresh token comes in.</b></span>
            </div>
        </div>
    </div>
    <div class="container card alert alert-warning">
        <div class="row">
            <div class="col-4">
                <p>Assume we have genuine users in the database as below : <br>
                    <b>test&#64;test.com</b> / <b>1234</b> &nbsp; <span class="btn btn-secondary btn-sm"
                        (click)="setFormValues()"> Set to form</span> <br>Since this is authenticated from backend so,
                    we will get the <b>Access token</b> in response,<br> wrong credentials treat as unauthorized
                    <b>401</b>.
                </p>

                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <!-- EMAIL -->
                    <div>
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                            required email />
                        <span class="text-danger" *ngIf="email.invalid && (email.touched || loginForm.submitted)">
                            Valid email is required
                        </span>
                    </div>

                    <!-- PASSWORD -->
                    <div>
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                            #password="ngModel" required minlength="4" />
                        <span class="text-danger" *ngIf="password.invalid && (password.touched || loginForm.submitted)">
                            Minimum 4 characters required
                        </span>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">
                        Login
                    </button> &nbsp;
                    <button type="button" class="btn btn-dark mt-3" (click)="clearFormValues(loginForm)">Clear</button>

                </form>
            </div>
            <div class="col-4">
                @if (authData && !errorMessage) {
                <p class="alert alert-success">Authenticated User <b>200</b></p>
                } @else if(errorMessage) {
                <div class="alert alert-danger">Unauthorized User <b>401</b></div>
                }
                <div *ngIf="authData && !errorMessage">
                    {{ authData | json }}
                </div>
                <div class="text-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
                <hr>
                <p>Backend give the JWT token along with the login api response, we will store that token and send to
                    further protected API calls. <br> <b>Token will expires after 2mins</b> as per backend
                    configuration.</p>
            </div>
            <div class="col-4">
                <p>Protected API (UI to send the valid jwt token in headers)</p>
                <button type="button" class="btn btn-dark mt-3" (click)="getUser()">Get User </button>
                <p>Public Access API</p>
                <button type="button" class="btn btn-dark mt-3" (click)="getPublic()">Get Common</button>
                <p>Logout API</p>
                <button type="button" class="btn btn-dark mt-3" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="container card alert alert-info">
        <h5>Refresh Token</h5>
        <b>When should refresh token API be called?</b>
        <pre>

| Strategy                   | Used in real apps?   | Description                        |
| -------------------------- | -------------------  | ---------------------------------- |
| Call before expiry (timer) | ❌ Rare             | Check expiry & refresh proactively |
| Call after 401             | ✅ MOST COMMON      | Refresh only when API fails        |
        </pre>
        <div class="row">
            <div class="col">
                <p>👉 Enterprise standard = refresh on 401 <br>
                    Why?</p>
                <ul>
                    <li>no unnecessary API calls
                    </li>
                    <li>simpler logic
                    </li>
                    <li>scalable (இது செயல்திறன் குறையாமல் பெரிய அளவிலான தேவைகளைக் கையாளுவதை உறுதி செய்கிறது)</li>
                </ul>
            </div>
            <div class="col">
                <pre>
⭐ Real Enterprise Flow

User is working normally:
API call → access token valid → ✅

After 2 minutes:
API call → 401 Unauthorized

Interceptor catches it:
→ calls /refresh
→ gets new access token
→ retries original API automatically

User doesn’t notice anything 😄
                </pre>
            </div>
            <div class="col">
                <pre>
🧠 Why This Is Better?

Imagine:
10,000 users

token refresh every 1 minute
💥 huge unnecessary load

Instead:
Refresh only when API is actually used.
                </pre>
            </div>
        </div>
        <div class="row alert alert-warning">
            <pre>
LOGIN API
   ↓
User sends credentials (email/password)
   ↓
Server validates the user
   ↓
Server generates two tokens
      • accessToken  (short lifetime – 2 min in your case)
      • refreshToken (long lifetime – hours/days)
   ↓
Server returns accessToken + refreshToken
   ↓
Frontend (Angular) stores them
      accessToken  → used for API authentication
      refreshToken → used only for refreshing the session
   ↓
User calls protected APIs
   ↓
Interceptor attaches accessToken automatically
Authorization: Bearer accessToken
   ↓
Server verifies JWT
   ↓
If token valid → API works normally
   ↓
After 2 minutes → accessToken expires
   ↓
Next protected API call sends expired token
   ↓
Server detects expired token
   ↓
Server returns 401 Unauthorized
   ↓
Angular interceptor catches the 401 error
   ↓
Interceptor calls /refresh API (IF refresh API fails → logout user)
   ↓
Payload contains stored refreshToken
   ↓
Server verifies refreshToken
      • check if token exists
      • check if token is valid
      • check if token belongs to user
   ↓
If valid → server generates NEW accessToken
   ↓
Server returns new accessToken
   ↓
Interceptor stores the new accessToken
   ↓
Interceptor retries the original failed request
   ↓
Retry request now includes the new accessToken
   ↓
Server verifies new token
   ↓
Protected API succeeds
   ↓
User never notices this entire process 
    </pre>
        </div>
    </div>
    <div class="container alert alert-primary">
        <div class="row">
            <div class="col">
                <h5>Authentication Vs Authorization</h5>
                <p><b>Authentication:</b><br>
                    👉 உங்களுடைய அடையாளத்தை உறுதி செய்வது<br>
                    (Verifying who you are)</p>

                <p><b>Authorization:</b><br>
                    👉 உங்களுக்கு என்ன செய்ய அனுமதி இருக்கிறது என்பதை தீர்மானிப்பது <br>
                    (Deciding what you are allowed to access)</p>
            </div>
            <div class="col">
                <h5>Interceptor</h5>
                <b> Interceptor = A central place to control all HTTP requests and responses.
                </b>
                <h6>🔐 Why We Use It in JWT?</h6>
                <pre>

Without interceptor ❌
Every API call:

this.http.get('/api/profile', &#123;
headers: &#123; Authorization: 'Bearer token' &#125;
&#125;);
Repeat in 50 places 😵
</pre>


            </div>
        </div>
    </div>
    <div class="card container alert alert-success">
        <pre>
            {{tsCode}}
        </pre>
    </div>
</div>