<h2 class="text-center mt-3">Angular Component Interaction</h2>
<div class="container mb-2">
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-sm btn-primary" routerLink="viewchild">&#64;ViewChild</button>
    </div>
    <div class="col">
      <button class="btn btn-sm btn-primary" routerLink="input">&#64;Input</button>
    </div>
    <div class="col">
      <button class="btn btn-sm btn-primary" routerLink="output">&#64;Output</button>
    </div>
    <div class="col">
      <button class="btn btn-sm btn-primary" routerLink="service">Using Service</button>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="text-center">Interaction between HTMl and TS files</h5>
      <ol class="list-group list-group-numbered mt-2 fw-bold">
        <li class="list-group-item fw-bold mb-3">
          Interpolation -
          <strong class="text-danger">{{ interpolation }}</strong>
        </li>
        <li class="list-group-item mb-3">
          Property Binding <img [src]="proberty_binding" alt="image" /> - Here
          image is the property binding this image from TS file to Html using
          image tag. <br /><strong class="text-danger"
            >SYNTAX : [] | [src]="image"</strong
          >
        </li>
        <li class="list-group-item mb-3">
          Event Binding -
          <button class="btn btn-sm btn-primary" (click)="increseCount()">
            Click
          </button>
          Count Increse Here ->
          <span class="badge bg-primary">{{ count }}</span> <br />
          Here in html one button is there with the click function and its keep
          increment with the help of TS file.<br /><strong class="text-danger"
            >SYNTAX : () | (click)="sampleFunction()"</strong
          >
        </li>
        <li class="list-group-item mb-3">
          Two way Binding
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Input</span>
            <input type="text" class="form-control" [(ngModel)]="inputValue" />
          </div>
          Typed content goes here ->
          <span class="badge bg-success">{{ inputValue }}</span>
          <p>
            Here we typing from HTML and collect its contains with TS file and
            return it to HTML to display the content
          </p>
          <strong class="text-danger"
            >SYNTAX : [(ngModel)]="inputValue" | inputValue!: string; |
            {{ two_way }}</strong
          >
          <p class="mt-3 fw-bolder text-primary">
            i).Another two way binding method
          </p>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Input</span>
            <input
              type="text"
              class="form-control"
              [ngModel]="name"
              (ngModelChange)="displayName($event)"
            />
          </div>
          Typed content goes here ->
          <span class="badge bg-success">{{ name }}</span>
          <br />
          <strong class="text-danger"
            >SYNTAX: [ngModel]="name" (ngModelChange)="displayName($event)" | in
            ts displayName(event:any) this.name = event;
          </strong>
        </li>
        <li class="list-group-item mb-3">
          Getter & Setter
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Input</span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="customerName"
            />
          </div>
          Typed content goes here ->
          <span class="badge bg-success">{{ customerName }}</span>
          <br />
          <strong class="text-danger"
            >SYNTAX: private _customerName!: string; | get customerName() return
            this._customerName; | set customerName(value:string)
            this._customerName = value;
          </strong>
        </li>
      </ol>
    </div>
  </div>
</div>
