<div class="container mt-3">
    <p routerLink="/lifecycle-hooks">
        <a class="pe-auto text-secondary text-decoration-none"><-Back </a>
    </p>
    <h4 class="text-primary">ngOnChanges()</h4>
    <p>👉 The constructor in Angular is not actually part of Angular’s lifecycle hooks.
        It’s a <b>TypeScript/ES6 class feature</b>.</p>
    <p>Angular simply uses it to create an instance of your component class.</p>
    <p>constructor() is a <b>JavaScript class mechanism</b> called before Angular starts running any lifecycle hooks.
    </p>
</div>